# dist macros.

%__bootstrap         ~bootstrap
%fedora              42
%fc42                1
%distcore            .fc%{fedora}
%dist                %{!?distprefix0:%{?distprefix}}%{expand:%{lua:for i=0,9999 do print("%{?distprefix" .. i .."}") end}}%{distcore}%{?with_bootstrap:%{__bootstrap}}
%dist_vendor         Fedora
%dist_name           Fedora Linux
%dist_purl_namespace fedora
%dist_home_url       https://fedoraproject.org/
%dist_bug_report_url https://bugzilla.redhat.com/
%dist_debuginfod_url https://debuginfod.fedoraproject.org/
