library=p11-kit-proxy.so
name=p11-kit-proxy


library=
name=Policy
NSS=flags=policyOnly,moduleDB
config="disallow=ALL allow=HMAC-SHA256:HMAC-SHA1:HMAC-SHA384:HMAC-SHA512:CURVE25519:SECP256R1:SECP521R1:SECP384R1:aes256-gcm/ssl:chacha20-poly1305/ssl:aes256-cbc:aes128-gcm/ssl:aes128-cbc:des-ede3-cbc:aes192-cbc/pkcs12,smime:camellia256-cbc/pkcs12:camellia192-cbc/pkcs12:camellia128-cbc/pkcs12:des-cbc/pkcs12,smime:rc4/pkcs12:des-40-cbc/pkcs12:rc2/pkcs12,smime:rc2-40-cbc/pkcs12,smime:rc2-64-cbc/pkcs12,smime:rc2-128-cbc/pkcs12,smime:seed-cbc/pkcs12:SHA256:SHA384:SHA512:SHA3-256:SHA3-384:SHA3-512:SHA224:SHA3-224:SHA1:MD5/pkcs12:ECDHE-RSA/ssl-key-exchange:ECDHE-ECDSA/ssl-key-exchange:RSA/ssl-key-exchange:DHE-RSA/ssl-key-exchange:DHE-DSS/ssl-key-exchange:RSA-PKCS/smime-key-exchange:RSA-OAEP/smime-key-exchange:DH/smime-key-exchange:ECDH/smime-key-exchange:ECDSA:ED25519:RSA-PSS:RSA-PKCS:DSA:tls-version-min=tls1.0:dtls-version-min=dtls1.0:DH-MIN=1024:DSA-MIN=1024:RSA-MIN=1024"
